
table.addtable {
   background-color:#AFAFAF;
   border-width:3px;
   border-style:outset;
   border-color:#2F2F2F;
}
table.addentry {
   background-color:#CFCFCF;
   border-width:3px;
   border-style:outset;
   border-color:#2F2F2F;
}

.login {
   background-color:#FF6633;
   background-image: url("mess.png");
   color:black;
   width:20em;
   border-width:5px;
   border-style:inset;
   border-color:#2F2F2F;
   padding-top:2px;
   padding-bottom:2px;
}
