
.imagepage {
    width:95%;
    text-align:center;
}

.startframe {
   float:left;
   margin:0px;  padding:0px; border:0px;
   width:4px;
   background-color:$FF0000;
   color:#FFFFFF;
}
.imageframe {
    float:left;
    margin:4px;
    background-color:#AAAAAA;
    padding:2px;
    border:2px;
    border-style:groove;
    max-width:250px;
    text-align:left;
}

.endframe {
    margin:0px; padding:0px; border:0px;
    clear:left;
}
