
.newsheadline {
   font-size:small;
   color:#440044;
}

.newsabstract {
   position:absolute;
   display:none;
   font-size:medium;
   margin:6px;
   border-width: 3px;
   border-style: outset;
   border-color: #00FF00;
   background-color: #FFFFFF;
   padding: 4px;
   text-align:left;
}

.newsitem {
}

.addtable {
   border-style:none;
}

.addentry {
   border-style:none;
}

.deletetable {
   border-style:none;
   border-width:1px;
   padding:4px;
}


